auto-save-list/
elpa/
export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
.cache
.recentf
projectile.cache
projectile-bookmarks.eld
var/
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf
.mc-lists.el
transient/
eclipse.jdt.ls
tldr/
workspace
amx-items
.dap-breakpoints
.lsp-session*
emms/
eaf/
url/
