auto-save-list/
elpa/
export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
.cache
.recentf
projectile.cache
projectile-bookmarks.eld
var/
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf*
.mc-lists.el
transient/
eclipse.jdt.ls
tldr/
tramp
workspace
amx-items
bookmarks
.dap-breakpoints
.lsp-session*
emms/
eaf/
url/
bookmarks/
projects/

librime/
pyim/
games/
/.last-package-update-day
.extension
*.log
eln-cache/
