[submodule "asymbol"]
	path = site-lisp/asymbol
	url = https://github.com/dwuggh/asymbol.git
[submodule "awesome-tab"]
  path = site-lisp/awesome-tab
  url = https://github.com/manateelazycat/awesome-tab.git
[submodule "awesome-tray"]
  path = site-lisp/awesome-tray
  url = https://github.com/manateelazycat/awesome-tray.git
[submodule "company-english-helper"]
	path = company-english-helper
	url = https://github.com/manateelazycat/company-english-helper
[submodule "emacs-application-framework"]
  path = site-lisp/emacs-application-framework
  url = https://github.com/manateelazycat/emacs-application-framework
[submodule "fuz.el"]
  path = site-lisp/fuz.el
  url = https://github.com/cireu/fuz.el.git
[submodule "snails"]
  path = site-lisp/snails
  url = https://github.com/manateelazycat/snails.git
