*~
*.elc
.\#*
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
tramp

url/
transient/
games/

# packages and caches
.cache/
elpa/
eln-cache

# Rime
pyim/

# Flycheck
flycheck_*.el

;; Local Variables:
;; mode: gitignore
;; End:
